<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- HEADER -->
<header>
  <app-header></app-header>
</header>
<hr class="navbar-divider">

<main>

  <div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-three-fifths" >
<!--      <progress class="progress is-small is-warning" max="100">15%</progress>-->
      <app-info-msg></app-info-msg>

      <app-exercices></app-exercices>

      <router-outlet></router-outlet>
    </div>
    <div class="column is-one-fifth"></div>
  </div>

</main>
<hr class="navbar-divider">
<footer>
<app-footer></app-footer>
</footer>


<!-- FIN DU HEADER -->

<!--<router-outlet></router-outlet>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


