<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Score :</p>
      <p class="title">{{levelService.score}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Today's score :</p>
      <p class="title">{{levelService.todayScore}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Your level :</p>
      <p class="title">{{levelService.level}}</p>
    </div>
  </div>

</nav>
