<!--      Debut du breadcrumbs pour suivi de l'exercice en cours-->
<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
  <ul>
    <strong></strong>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li class="is-active"><a href="#" aria-current="page">Four </a></li>
  </ul>
</nav>
<div class="card">

  <div class="card-content">
    <div class="content">
      <strong>Complétez le champ manquant :</strong><br><br>
      Bryan ......... in the kitchen.
      <br>

    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">were</a>
    <a href="#" class="card-footer-item">was</a>

  </footer>
</div>
